.login {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__input-element {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.login__formulario {
  width: 300px;
}

.login__button {
  background: #FD8F5F;
  padding: 27px 44px;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
  display: inline-block;
  line-height: 1;
  letter-spacing: 1px;
  line-height: 0;
  margin-bottom: 0;
  border: 0;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__forgotpass {
  text-align: center;
}